<template>
  <main>
    <br>
    <p class="title has-text-centered">gud memories guyss ♿❤️</p>
    <div class="row columns is-multiline">
      <div class="column is-2" v-for="count in 8">
        <img v-bind:src='"https://gitlab.com/fredblade/pepega/-/raw/main/src/assets/img/"+ count + ".jpg?ref_type=heads"'>
      </div>
    </div>
  </main>
</template>
